<h1>Ask a Question!</h1>

<%= form_for(@question) do |f| %>
  <%= f.label :prompt %>
  <%= f.text_field :prompt %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit 'Ask Question' %>
<% end %>
